main{
    margin: 20px;
    display: flex;
    justify-content:space-evenly;
    align-content:  center;
    flex-wrap: wrap;
    border: none;
    /* font-family: "Roboto"; */
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap:10px;
    @media only screen and (min-width: 768px) {	
        gap: 30px;
    }
}

#grid{
    width: fit-content;
    display: grid;  	
    gap: 0.125rem;
    @media only screen and (min-width: 768px) {	
        gap: 0.25rem;
    }
}

.block{
    background-color: gray;
    border-radius: 30%;
    width: 1.75rem;
    height: 1.75rem;
    @media only screen and (min-width: 768px) {
       width: 2rem;
       height: 2rem;
    }
}

.snake{
    background-color: green;
}

.head{
    background-color: rgb(1, 189, 1);
}


.fruit{
    background-color:darkcyan;
}


#controll{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* gap:20px; */
    @media only screen and (min-width:600px) {
        flex-direction: column;
    }
   
}

.dir-btn{
    border: solid 8px;
    border-radius: 30%;
    width: fit-content;
    padding: unset
}

.dir-btn.on{
    background-color: gray;
}

.dir-btn.invalid{
    background-color: lightcoral;
}

.btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:768px) {
        gap: 15px;
        margin: 30px 0 30px 0;
    }
}

.btn-group > button > svg, .btn-group > div > button > svg{
    height: 35px;
    width: 35px;
   @media only screen and (min-width:768px) {
    height: unset;
    width: unset;
   }
}

.honrizontal-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    @media screen and (min-width:768px) {
        gap:80px;
        
    }
}



.text-group{
    font-size:x-large;
    text-align: center;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
}

.text-group > p {
    font-weight:500;
    margin: 0;
}

.value {
    font-weight:700;
}

#difficulty{
    cursor: not-allowed;
}

.end >div>p> #difficulty{
    cursor: pointer;
}

.end >div>p> #difficulty:hover{
    text-decoration: underline;
}

button {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

#start-btn{
    font-size:x-large;
    font-weight: bolder;
    border: solid 5px;
    height: fit-content;
    align-self: center;
}
