body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: unset;
}



main {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    border: none;
    row-gap: 15px;

    @media only screen and (min-width: 768px) {
        margin: 20px;
        row-gap: 30px;

    }
}

#grid {
    width: fit-content;
    display: grid;
    gap: 0.125rem;

    @media only screen and (min-width: 768px) {
        gap: 0.25rem;
    }
}

.block {
    background-color: gray;
    border-radius: 30%;
    width: 1.5rem;
    height: 1.5rem;

    @media only screen and (min-width: 600px) {
        width: 1.75rem;
        height: 1.75rem;
    }

    @media only screen and (min-width: 768px) {
        width: 2rem;
        height: 2rem;
    }
}

.snake {
    background-color: green;
}

.head {
    background-color: rgb(1, 189, 1);
}


.fruit {
    background-color: darkcyan;
}


#controll {
    width: 100%;
    display: flex;
    /* flex-wrap: warp; */
    align-content: center;
    justify-content: space-around;

    @media only screen and (min-width:1000px) {
        margin: unset;
        width: fit-content;
        justify-content: space-evenly;
        flex-direction: column;
    }

}

button,
dialog {
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dir-btn {
    border: solid 5px;
    border-radius: 30%;
    width: fit-content;
    padding: unset;

}

.dir-btn.on {
    background-color: rgb(194, 194, 194);
}

.dir-btn.invalid,
#start-btn.invalid {
    background-color: lightcoral;
}

.dir-btn.clicked,
#start-btn.clicked {
    background-color: gray;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:768px) {
        gap: 15px;
        margin: 30px 0 30px 0;
    }
}

.btn-group svg {
    height: 40px;
    width: 40px;

    @media only screen and (min-width:768px) {
        height: unset;
        width: unset;
    }
}

.honrizontal-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media screen and (min-width:768px) {
        gap: 80px;

    }
}



.text-group {
    text-align: center;
    min-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.text-group>p {
    margin: unset;
    font-size: x-large;
    font-weight: 500;
    /* letter-spacing: -2px; */
}

.value {
    font-weight: 700;
}

#difficulty {
    cursor: not-allowed;
}

.end #difficulty {
    cursor: pointer;
}

.end #difficulty:hover {
    text-decoration: underline;
}

button {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

#start-btn {
    font-size: x-large;
    font-weight: bolder;
    border: solid 5px;
    height: fit-content;
    align-self: center;
    padding: 10px;
    width: 140px;
    height: auto;

    @media screen and (min-width:768px) {
        scale: 150%;
    }
}

dialog {
    /* position: absolute; */
    /* top: 50%; */
    border-width: 7px;
    max-width: 70vw;
    max-height: 80vh;
}


dialog>div {
    padding: 0px 10px 0px 10px;
    border: unset;
    font-size: xx-large;
    font-weight: 700;
    @media screen and (min-width:450px){
        padding: 0px 40px 0px 40px;
    }
}

dialog>div>div {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media screen and (min-width:450px){
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

dialog h1 {
    line-height: 3rem;
    text-align: center;
    
}

dialog p {
    height: fit-content;
    line-height: 1.5rem;
}

dialog::backdrop {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
}
